
*.cache
SkridtTaeller/obj/Debug/SkridtTaeller.csprojAssemblyReference.cache
SkridtTaeller/obj/Debug/SkridtTaeller.csproj.GenerateResource.cache
.vs/SkridtTaeller/v16/.suo
*.cache
.vs/SkridtTaeller/v16/.suo
SkridtTaeller/bin/Debug/da/SkridtTaeller.resources.dll
SkridtTaeller/bin/Debug/SkridtTaeller.exe
SkridtTaeller/bin/Debug/SkridtTaeller.pdb
SkridtTaeller/obj/Debug/da/SkridtTaeller.resources.dll
SkridtTaeller/obj/Debug/SkridtTaeller.csproj.GenerateResource.cache
SkridtTaeller/obj/Debug/SkridtTaeller.csprojAssemblyReference.cache
SkridtTaeller/obj/Debug/SkridtTaeller.exe
SkridtTaeller/obj/Debug/SkridtTaeller.pdb
SkridtTaeller/obj/Debug/SkridtTaeller.Properties.Resources.resources
SkridtTaeller/obj/Debug/SkridtTaeller.rewardsPanel.resources
